:root{
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 14px;
  
    --forest-green:  #698769;
    --green-blue-opacity: #1e363ee9;
    --green-blue: #1e363e;
    --ocean-blue:  #003344;
    --ocean-blue-opacity: #00334475;
    --white: #f1f2f1; 
    --white-opacity: #f1f2f175;
    --black: #1e1e1e;
    --black-opacity: #1e1e1e75;
    --btn: #366671 ;
    --btn-hoover: #324c52 ;
    --btn-focus: #162528 ;
}





/* GRUNDINSTÄLLNINGAR */
html {
  scroll-behavior: smooth;
} 

html, body {
  background-image: url("./img/water-for-all-bg.jpg");
  background-position: center -20rem;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}





/* MENY */

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--green-blue-opacity);
}

.logo img {
  height: 40px; 
  width: auto;
  display: block;
}

.logo {
  font-size: 1.5rem;
  color: var(--white);
  height: 40px;
  width: auto;
  display: block;
  margin-left: 1rem;
}

.desktop-menu {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.desktop-menu a {
  color: var(--white);
  text-decoration: none;
  font-weight: bolder;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.desktop-menu a:hover {
  color: var(--forest-green)
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}





/* HAMBURGER-MENY */

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1000; 
}

.hamburger div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100; 
  right: 0;
  background-color: var(--green-blue-opacity);
  color: var(--white);
  padding: 1rem;
  z-index: 1001;
  transition: color 0.3s ease;
}

.mobile-menu.show {
  display: flex;
  flex-direction: column;
}

.mobile-menu a,
.mobile-menu a:visited {
  color: var(--white);
  text-decoration: none;
  font-weight: bolder;
}




 /* WATER-LÄNKEN */

 .content {
  max-width: 700px;
  margin: 8rem auto 6rem auto;
  padding: 0 1rem;
}
.info-card-2 {
  background-color: var(--green-blue-opacity);
  color: var(--white);
  border-radius: 12px;
  padding: 2rem 2.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 400;
}

.info-card-2 h1 {
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-size: 2rem;
  color: var(--white);
}

.info-card-2 ul {
  padding-left: 1.2rem;
  margin-bottom: 1.5rem;
}

.info-card-2 ul li {
  margin-bottom: 0.6rem;
}

.info-card-2 p em {
  font-style: italic;
  color: var(--white)
}

  .back-link {
  display: inline-block;
  margin: 1rem 0;
  color: var(--white);
  transition: color 0.3s ease;
  margin-bottom: 2rem;
}

.back-link:hover {
  color: var(--forest-green)
}




 /* HERO */
 
.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
 
.hero-content h1 {
  font-size: 8vw;
  text-align: right;
  padding: 0 5vw;
  white-space: nowrap;
  line-height: 1;
  color: var(--white);
}

.hero-info-box {
  background-color: var(--green-blue-opacity);
  color: var(--white);
  max-width: 33vw;
  padding: 2rem 1.2rem;
  border-radius: 10px;
  font-size: 1rem;
  z-index: 5;
  margin-top: -25rem;
  margin-left: 5vw;
}

.info-box-content {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-info-box h2 {
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 0;
}

.hero-info-box p {
  margin-top: 1rem;
}

.stats-cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  z-index: 3;
  width: 100%;
  margin-top: -10rem;
  gap: 1rem;
}

.card {
  padding: 2rem;
  color: var(--white);
  width: 260px;
  text-align: center;
  font-size: 1.1rem;
} 

.card h2 {
  margin-bottom: 0.3rem;
  font-size: 2rem;
}





/* FOOTER */

.site-footer {
  width: 100%;
  background-color: var(--green-blue-opacity);
  color: var(--white);
  text-align: center;
  padding: 1rem 1rem;
  box-sizing: border-box;
  position: relative;
  left: 0;
  margin: 0;
}

.footer-dropdown {
  margin-top: 1rem;
  position: relative;
  display: inline-block;
}

.footer-dropdown .dropdown-toggle {
  padding: 12px 24px;
  min-width: 100px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  letter-spacing: 0.03em;
  background-color: var(--btn);     
  color: var(--white);
  box-shadow: 0 1px 2px #1e1e1e;
  cursor: pointer;
  transition: all 0.25s ease;
}

.footer-dropdown .dropdown-toggle:hover{
  background-color: var(--btn-hoover);
  transform: translateY(-1px);
}

.footer-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--green-blue);
  z-index: 100;
  bottom: 100%;
  left: 0.5rem;
  white-space: nowrap;
  padding: 1rem;
}

.footer-dropdown .dropdown-menu li {
  list-style: none;
  border-bottom: 1px solid #fff;
}

.footer-dropdown .dropdown-menu li a {
  color: var(--black);
  padding: 15px;
  text-decoration: none;
  display: block;
  color: var(--white);
}

.footer-dropdown .dropdown-menu li a:hover {
  background-color: var(--white-opacity);
}

.footer-dropdown:hover .dropdown-menu {
  display: block;
}






/* KARTA */

#waterHouseholdStatistics {
  width: 70%;
  height: 60vh;
  min-height: 400px;
  margin: 20px auto; 
}

.map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  min-height: 500px;
  margin: 0 auto;
  padding: 3rem 3rem 6rem ;
  color: var(--black);
  background-color: var(--white); 
  border-radius: 12px;
}

.map-info {
  flex: 1 1 300px;
  max-width: 400px;
  margin-right: 40px;
  padding: 0;
}

.year-buttons-container .active {
  background-color: var(--btn-focus);
  color: var(--hoover-green);
}

.map-display {
  flex: 1 1 600px;
  min-width: 300px;
}

.year-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 0.6rem;
}

.year-buttons-container button {
  padding: 12px 24px;
  min-width: 100px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  letter-spacing: 0.03em;
  background-color: var(--btn);     
  color: var(--white);
  box-shadow: 0 1px 2px #1e1e1e;
  cursor: pointer;
  transition: all 0.25s ease;
}

.year-buttons-container button:hover {
  background-color:var(--btn-hoover);       
  color: var(--white);
  box-shadow: 0 4px 10px #1e1e1e;
  transform: translateY(-1px);
}

.year-buttons-container button:focus-visible {
  outline: 3px solid ;        
  outline-offset: 3px;
}

.year-buttons-container button.active {
  background-color: var(--btn-focus);         
  color: var(--white);
  box-shadow: 0 5px 12px #1e1e1e;
  cursor: default;
}





/* LINJEDIAGRAM */

.line-chart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 3rem;
  color: var(--black);
  background-color: var(--white); 
  border-radius: 12px;
}
.line-info {
  flex: 1 1 300px;
  max-width: 400px;
  margin-right: 2rem;
}

.line-display {
  flex: 1 1 600px;
  min-width: 300px;
}





/* CARDSEN LÄNGST NER */

.card-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  align-items: stretch;
  margin: 0;
  padding: 0;
  height: 30vh;
}
 
.info-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  margin: 0;
  padding: 0;
  flex: 1 1 33.3333%;
  max-width: 33.3333%;
}
 
.water-video {
  width: 100%;
  height: 100%;
  flex: 1;
  flex-grow: 1;
  box-sizing: border-box;
  object-fit: cover;
}

.water-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.wash-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ocean-blue);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  height: 100%;
}

.wash-info p,
.gg6 p {
  padding: 0;
  margin: 0;
  text-align: left;
}

.gg6 {
  flex-grow: 1;
  background-color: rgb(4, 74, 97);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  height: 100%;
}

.read-more {
  align-self: flex-end;
  color: var(--white);
  text-decoration: underline;
  margin-bottom: auto;
  font-size: 12px;
}

.icon-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  min-width: 80px;
  max-width: 120px;
}

.icon-item img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.5rem;
}

.icon-item h4 {
  font-size: 16px;
  margin-bottom: 0.2rem;
  margin: 0;
  padding: 0;
}

.icon-item p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  margin-bottom: 0.2rem;
  color: white;
  font-weight: 500;
}





/* MODAL LÄS MER*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  inset: 0;
  backdrop-filter: blur(4px);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-content {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 550px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  line-height: 1.6;
  font-size: 14px;
}

.modal-content p {
  margin: 0;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #00283a;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close-button:hover {
  transform: scale(1.2);
}





/* KNAPP FÖR ATT ÖPPNA FORMULÄR */

.open-form-button {
  display: block;
  margin-top: 2rem;
  padding: 12px 24px;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: var(--btn);    
  color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

 .open-form-button:hover {
  background-color: var(--btn-hoover);
  transform: translateY(-1px);
}





/* FORMULÄR*/
.modal {
  display: none; 
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--white-opacity);
}

.form-container {
  background-color: var(--white);
  margin: 5% auto;
  padding: 30px 30px;
  border-radius: 12px;
  box-shadow: 0 3px 6px #1e1e1e;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
}

.close-btn {
  color: var(--black);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: var(--black-opacity);
}

form#waterForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1rem;
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

form#waterForm label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 1.3;
  align-items: flex-start;
  text-align: left;
}


form#waterForm label small {
  font-weight: 400;
  font-size: 0.85rem;
  color: var(--black);
  margin-top: 0.5%;
}

form#waterForm input[type="number"],
form#waterForm select {
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1.5px solid #1e1e1e;
  border-radius: 8px;
  outline-offset: 2px;
  transition: border-color 0.3s ease;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

form#waterForm input[type="number"]:focus,
form#waterForm select:focus {
  border-color: var(--black);
  outline: none;
}

form#waterForm button {
  padding: 12px 24px;
  min-width: 100px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  background-color: var(--btn);      
  color: var(--white);
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px #1e1e1e;
  cursor: pointer;
  transition: all 0.25s ease;
}

form#waterForm button:hover {
  background-color: var(--btn-hoover);
  color: var(--white);
  box-shadow: 0 4px 10px #1e1e1e;
  transform: translateY(-1px);
}

form#waterForm button:focus-visible {
  outline: 3px solid #1e1e1e;     
  outline-offset: 3px;
}

.pie-chart {
  max-width: 350px;
  align-items: center;
}

#resultModal .form-container {
  max-width: 800px;
  width: 90%;
  margin: 5% auto;
}





/* MEDIA QUERY 640 PX */

@media (max-width: 640px) {
  
  .desktop-menu {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  header {
    padding: 1rem;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
  }

  html, body {
    overflow-x: hidden;
    background-position: center -30rem;
  }





  /* HERO-OMRÅDET */
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .hero-content {
    position: relative;
    z-index: 1;
    padding-top: 30vw;
  }

  .hero-content h1 {
    position: relative;
    top: -25rem;
    font-size: 5rem;
    text-align: center;
  }

  .hero-content h1 br {
    display: none;
  }

  .hero-info-box {
    position: relative;
    left: 57%;
    transform: translate(-50%);
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding: 2rem 4rem;
    background-color: transparent;
  }

  .info-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-info-box h2 {
    font-size: 2rem;
  }

  .hero-info-box p {
    max-width: 35ch;
    margin: 1rem auto;
  }

  .open-form-button {
    width: 80%;
    max-width: 300px;
    font-size: 1rem;
    margin: 1rem auto 0;
  }






  /* STATISTIKKORT */
  .stats-cards {
    position: relative;
    top: auto;
  }

  .card {
    width: 90%;
    font-size: 0.9rem;
    padding: 1rem;
  }

  .card h2 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 0.9rem;
  }





  /* KARTA OCH GRAFER */
  .map {
    position: relative;
    /* top: -15rem; */
    margin-top: 2rem;
    left: 50%;
    transform: translate(-50%);
    text-align: left;
    width: 100%;
    min-height: 900px;
    padding: 4rem 1rem;
    border-radius: 0;
  }

  .line-chart-section {
    position: relative;
    /* top: -15rem; */
    margin-top: 2rem;
  }

  .line-chart {
    border-radius: 0;
    min-height: 750px;
    padding: 4rem 1rem;
  }

 
  .line-display {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

  #lineChart {
    width: 100%;
    height: auto;
  }

  .map-section h2,
  .line-chart-section h2,
  .text-section h2 {
    font-size: 1.4rem;
  }

  .map-section p,
  .line-chart-section p,
  .text-section p {
    font-size: 0.95rem;
  }

  .map-display {
    position: absolute;
    top: 22rem;
    left: 4%;
    height: 5px;
  }





/* FORMULÄR */
 .form-container {
    width: 90%;        
    max-width: 640px;  
    padding: 15px;    
    box-sizing: border-box;
  }

  .pie-chart {
    width: 100%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
  }

  .tips-container {
    margin-top: 2rem;
  }

  form label {
    font-size: 0.9rem; 
  }

  button {
    font-size: 0.9rem; 
    padding: 8px 12px;
  }








  /* INFO-KORT */
  .card-container {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
  }

  .info-card {
    max-width: 100%;
    flex: 1 1 100%;
    height: auto;
  }

  .info-card:nth-child(2) .wash-info {
    height: auto;
    padding: 7vw;
    align-items: center;
  }

  .info-card:nth-child(3) h1 {
    display: none;
  }

  .info-card:nth-child(3) .gg6 {
    height: auto;
    padding: 7vw;
    align-items: center;
  }





  /* IKONLISTA */
  .icon-row {
    gap: 4rem;
    margin: 2rem;
  }

  .icon-list {
    flex-direction: row;
    justify-content: space-around;
  }

  .icon-item {
    max-width: 100px;
  }
}
